<div class="accordion closed" {{#if accordionHero}}data-hero="{{{ accordionHero.value }}}"{{/if}} {{#if accordionBackground}}data-background="{{{ accordionBackground.value }}}"{{/if}}>
  <div class="accordion-label">
    {{{ accordionTitle.value }}}
  </div>
  <div class="accordion-text">
    <div class="accordion-text-inner">
      {{{ accordionText.value }}}
    </div>
  </div>
</div>
