<div class="accordion closed">
  <div class="accordion-label">
    <h4>{{{ accordionTitle.value }}}</h4>
  </div>
  <div class="accordion-text">
    <div class="accordion-text-inner">
    <h4>{{{ accordionText.value }}}</h4>
    </div>
  </div>
</div>
