<div id="storyline-navigation-header">
  <div id="storyline-pagination">

    <div class="nav-btn exit">
        <a id="exit-btn" class="button" href="/campaigns/bushnellgolf/3521">
            <div class="exit-icon-container"><i class="exp-ux-house exp-ux-small"></i></div>
        </a>
    </div>
    <div class="nav-btn prev">
        <button id="storyline-prev-btn" class="button disabled"><i class="chevron-left"></i></button>
    </div>
    <div id="storyline-page-count"><div class="progress-bar"><div class="actual-progress" style="width: 0%;
"></div></div></div>
    <div class="nav-btn next">
        <button id="storyline-next-btn" class="button"><span>Next</span><i class="chevron-right"></i></button>
    </div>
  </div>
</div>
<div class="nav-btn mobile-exit">
  <a id="mobile-exit-btn" class="button" href="/campaigns/mioglobal/787">
    <i class="exp-ux-house exp-ux-small"></i>
  </a>
</div>
